.chat-message-user {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.chat-message-robot {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin: 0 10px 20px 10px;
  max-width: 300px;
  word-wrap: break-word;
}

.chat-message-profile {
  width: 45px;
  border-radius: 50%;
}
